@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap');
@import "tailwindcss";
@import "./switcher.css";

@plugin "tailwindcss-animate";

@theme {
  --color-background: oklch(0 0 0);
  --color-foreground: oklch(1 0 0);
}

/* Theme variables - light is default */
body {
  --c-glass: #bbbbbc;
  --c-light: #fff;
  --c-dark: #000;
  --c-bg: #E8E8E9;
  --glass-reflex-dark: 1;
  --glass-reflex-light: 1;
  --saturation: 150%;

  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  transition: background 400ms cubic-bezier(1, 0.0, 0.4, 1), color 400ms cubic-bezier(1, 0.0, 0.4, 1);
}



@layer base {
  body {
    @apply bg-black text-white;
    margin: 0;
    padding: 0;
  }
}

html {
  scroll-behavior: smooth;
}
